<div class="footer" #footer>
  <div class="container">
    <div>
      <a href="#">Aviso Legal</a>
      <a href="https://www.mineducacion.gov.co/portal/" target="_blank">Ministerio de Educación Nacional</a>
      <a href="#">Política de cookies</a>
      <a href="#">Quejas o Sugerencias</a>
      <div>
        <h6 class="text-uppercase fw-bold mb-4">
          Contactanos
        </h6>
        <p><i class="fas fa-home me-3"></i> Colombia, Bogotá</p>
        <p>
          <i class="fas fa-envelope me-3"></i>
          Contact@AdviCation.com
        </p>
        <p><i class="fas fa-phone me-3"></i> 310 327 7309</p>
        <p><i class="fas fa-print me-3"></i> 601 713 1947</p>
      </div>
    </div>
    <span> © Copyright <a href="https://github.com/thelorien" target="_blank">Thelorien</a></span>
    <a href="https://www.udistrital.edu.co/inicio" target="_blank">Universidad Distrital Francisco Jose de Caldas</a>
  </div>
</div>
